@page
@model TruckLoadingsApp.Pages.TruckTrips.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TruckTrip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TruckTrip.StatingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TruckTrip.StatingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TruckTrip.EndingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TruckTrip.EndingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TruckTrip.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TruckTrip.Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TruckTrip.TripId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
