@page
@model TruckLoadingsApp.Pages.Trucks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Truck</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Axload)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Axload)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.MinWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.MinWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.MaxWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.MaxWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Availability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Availability)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Driver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Driver.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.isDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.isDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Truck.TruckId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
