@page
@model TruckLoadingsApp.Pages.Drivers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver.LicenseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver.LicenseNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Driver.DriverId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
