@page
@model TruckLoadingsApp.Pages.RoutePlans.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RoutePlan</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoutePlan.RouteName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoutePlan.RouteName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoutePlan.PostTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoutePlan.PostTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoutePlan.EstimatedTimeTravel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoutePlan.EstimatedTimeTravel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoutePlan.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoutePlan.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoutePlan.Truck)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoutePlan.Truck.Axload)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RoutePlan.RouteId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
