@page
@model TruckLoadingsApp.Pages.CargoItems.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CargoItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoItem.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoItem.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoItem.Fragility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoItem.Fragility)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoItem.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoItem.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoItem.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoItem.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoItem.Source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoItem.Source)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoItem.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoItem.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoItem.Dimensions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoItem.Dimensions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoItem.HazardousMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoItem.HazardousMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoItem.RequestId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoItem.RequestId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CargoItem.ItemId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
